.angular-google-map-container {
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 70%;
}

.map {
    float: left;
}

.preview {
    position: absolute;
    float: right;
    top:0;
    right:0;
    width:30%;
    height:100%;
    box-shadow: 0px 0px 5px 5px rgba(150,150,150,0.7);
    padding-left:5px;
    padding-top:5px;
}


.panelContener {
    height: inherit;
    overflow:auto;
    padding-right:5px;
}

.panel {
    margin-bottom: 10px;
}

.panel:hover {
    box-shadow: 3px 3px 5px 5px #d3d3d3;
}

.medium {
    max-width: 95%;
    max-height: auto;
}

.panel-text {
    margin-bottom: 10px;
}