<div class="panel-text">{{ marker.text }}...</div>
<div class="panel-attachement">
    <div ng-if="marker.type == 'image'">
        <img class="medium" ng-src="{{ marker.media }}" />
    </div>
    <div ng-if="marker.type == 'video'">
        <video class="medium" ng-src="{{ marker.media }}" controls></video>
    </div>
    <div ng-if="marker.type == 'audio'">
        <audio class="medium" ng-src="{{ marker.media }}" controls></audio>
    </div>
</div>