<div class="modal-header">
    <h3 class="modal-title">
        <img ng-src="{{ point.icon_url }}" alt="Icon"/> <span class="label label-default">
        {{ point.add_date | timeAgo }}</span>
    </h3>
</div>
<div class="modal-body">
    <div marker-item="point"></div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="$dismiss()">Close</button>
</div>