<!DOCTYPE html>
{% load static %}
<html ng-app="MaperApp">

<head lang="en">
    <meta charset="UTF-8">
    <title>Maper</title>
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    {% endblock css %}
    <script>
        window.STATIC_URL = '{{ STATIC_URL }}';
    </script>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBWuIZHrZIMQYala1wIsZGKSlnXOe5kEU">
    </script>

</head>
{% verbatim %}
<body ng-controller="MapController">
    <div class="map">

        <ui-gmap-google-map center='map.center' zoom='map.zoom' bounds="map.bounds">
            <ui-gmap-markers
                    models="marki"
                    idKey="'id'"
                    coords="'self'"
                    icon="'icon'"
                    events="map.markersEvents">
            </ui-gmap-markers>
        </ui-gmap-google-map>

    </div>
    <div class="preview">
        <div class="panelContener">
            <div class="panel panel-default">
              <div class="panel-body">
                <h4>Wiadomości</h4>
              </div>
            </div>

            <div class="panel panel-default" ng-repeat="point in points">
              <div class="panel-heading" ng-click="centerFromMessage(point)">
                  <h5>
                      <img ng-src="{{ point.icon_url }}" alt="Icon"/> <span class="label label-default">{{ point.add_date | timeAgo }}</span>
                  </h5>
              </div>
              <div class="panel-body">
                  <div marker-item="point" show-text="true"></div>
              </div>
            </div>
        </div>
    </div>
</body>
{% endverbatim %}
{% block js %}
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <script src="{% static 'angular/libs/lodash.min.js' %}"></script>
    <script src="{% static 'angular/libs/angular.js' %}"></script>
    <script src="{% static 'angular/libs/ui-bootstrap.min.js' %}"></script>
    <script src="{% static 'angular/libs/angular-resource.ms.js' %}"></script>
    <script src="{% static 'angular/libs/angular-google-maps.js' %}"></script>
    <script src="{% static 'angular/libs/timeAgo.js' %}"></script>
    <script src="{% static 'angular/app.js' %}"></script>
{% endblock js %}
</html>